* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Pantalla Inicio */

.header {
    height: 100vh;
    background-image: linear-gradient(120deg, #6293e200 0%, #c2e9fb00 100%), url(../IMG/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center
}

.hermann {
    background-color: #f5b872;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 60px;
    padding: 0 80px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
}

.menu-items {
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.menu-items li {
    border-radius: 3px;
    margin: 0 30px;
}

.menu-items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.menu-items li:hover,
li.active {
    background-color: #b96008;
    transition: .4s;
}

.btn-menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu-items li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        height: 65px;
    }
    .btn-menu {
        display: inline-flex;
    }
    .menu-items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: chocolate;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu-items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu-items li:hover {
        background: none;
    }
    .menu-items li a {
        font-size: 20px;
        color: cornsilk;
        font-weight: bold;
    }
    .menu-items li a:hover {
        color: crimson;
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu-items li {
        margin: 5px 0 0 0;
    }
    .menu-items {
        overflow: scroll;
        height: calc(-100% - 65px);
    }
}

.head {
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.titulo {
    font-size: 85px;
    margin-bottom: 10px;
    font-family: 'Mada', sans-serif;
}

.copy {
    font-weight: 300;
    font-size: 50px;
    font-family: 'Carattere', cursive;
}


/* Pantalla productos */

.menu {
    background: #F9F3DF;
}

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #ECAC5D;
    font-size: 75px;
    padding-top: 70px;
    font-family: 'Cabin Sketch', cursive;
}

.german {
    margin: 50px;
    margin-top: 50px;
}

.boton {
    width: 650px;
    padding-left: 322px;
}

.listado {
    margin-top: 0px;
    margin-left: 180px;
}

.menu_semanal {
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
    font-family: 'Aladin', cursive;
}

.yerman {
    background-color: #f8bb38;
    text-align: center;
    font-family: 'Aladin', cursive;
    font-size: 40px;
    padding: 15px;
}

.llerman {
    font-family: 'Aladin', cursive;
    text-align: center;
}


/* Pantalla Nosotros */

.productos {
    background: #FFE1AF;
}

.subtitulo2 {
    text-align: center;
    font-weight: 300;
    color: #ECAC5D;
    margin-bottom: 10px;
    font-size: 75px;
    font-family: 'Cabin Sketch', cursive;
}

.slider {
    padding: 0;
    margin: auto;
    overflow: hidden;
    margin-left: 400px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: movimiento 20s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 420px;
    height: 100%
}

@keyframes movimiento {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/* Pantalla Footer */

.footer {
    background: #B05B3B;
}

.container-body {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.columna1 {
    padding-left: 50px;
    padding-right: 140px;
}

.columna1 h1 {
    font-size: 35px;
    font-family: 'Baloo Da 2', cursive;
}

.columna1 p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Baloo Da 2', cursive;
}

.row0 h1 {
    padding-top: 20px;
    font-family: 'Tangerine', cursive;
    color: #fff;
    font-size: 100px;
}

.columna2 {
    padding-right: 190px;
}

.columna2 h1 {
    font-size: 35px;
    font-family: 'Baloo Da 2', cursive;
    ;
}

.columna2 .row8 {
    margin-top: 20px;
}

.row8 img {
    width: 40px;
    height: 40px;
}

.row9 {
    padding-bottom: 10px;
}

.row9 img {
    width: 35px;
    height: 30px;
}

.row9 label {
    font-size: 20px;
    font-family: 'Baloo Da 2', cursive;
}

.columna3 h1 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 35px;
}