    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .contenedor {
        padding: 60px 0;
        width: 90%;
        max-width: 1200%;
        overflow: hidden;
        margin: auto;
    }
    
    .hermann {
        background-color: #f5b872;
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 1000;
    }
    
    .logo {
        color: #fff;
        font-size: 60px;
        padding: 0 80px;
        font-weight: bold;
        font-family: 'Tangerine', cursive;
    }
    
    .menu-items {
        display: flex;
        list-style: none;
        margin-right: 50px;
    }
    
    .menu-items li {
        border-radius: 3px;
        margin: 0 30px;
    }
    
    .menu-items li a {
        padding: 7px 13px;
        text-decoration: none;
        font-size: 18px;
        display: block;
        text-transform: uppercase;
        color: #fff;
    }
    
    .menu-items li:hover,
    li.active {
        background-color: #b96008;
        transition: .4s;
    }
    
    .btn-menu {
        margin-right: 30px;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        display: none;
    }
    
    .head {
        padding: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }
    
    .header {
        height: 100vh;
        background-image: linear-gradient(120deg, #6293e200 0%, #c2e9fb00 100%), url(../IMG/fondo1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center
    }
    
    .spread {
        transform: translate(0);
    }
    
    .titulo {
        font-size: 85px;
        margin-bottom: 10px;
        font-family: 'Mada', sans-serif;
    }
    
    .copy {
        font-weight: 300;
        font-size: 50px;
        font-family: 'Carattere', cursive;
    }
    
    .subtitulo {
        text-align: center;
        font-weight: 300;
        color: #ECAC5D;
        font-size: 75px;
        padding-top: 70px;
        font-family: 'Cabin Sketch', cursive;
    }
    
    .subtitulo2 {
        text-align: center;
        font-weight: 300;
        color: #ECAC5D;
        margin-bottom: 10px;
        font-size: 75px;
        font-family: 'Cabin Sketch', cursive;
    }
    
    .menu_semanal {
        margin-top: 100px;
        text-align: center;
        font-size: 45px;
        font-family: 'Aladin', cursive;
    }
    
    .listado {
        margin-top: 0px;
        margin-left: 180px;
    }
    
    .german {
        margin: 50px;
        margin-top: 50px;
    }
    
    .boton {
        width: 650px;
        padding-left: 322px;
    }
    
    .yerman {
        background-color: #f8bb38;
        text-align: center;
        font-family: 'Aladin', cursive;
        font-size: 40px;
        padding: 15px;
    }
    
    .llerman {
        font-family: 'Aladin', cursive;
        text-align: center;
    }
    
    .menu {
        background: #F9F3DF;
    }
    
    .contenedor-menu {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .slider {
        padding: 0;
        width: 100%;
        margin-left: 395px;
        overflow: hidden;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: movimiento 20s infinite alternate;
    }
    
    .slider li {
        width: 100%;
        list-style: none;
    }
    
    .slider img {
        width: 35%;
        height: 100%
    }
    
    @keyframes movimiento {
        0% {
            margin-left: 0%;
        }
        20% {
            margin-left: 0%;
        }
        25% {
            margin-left: -100%;
        }
        45% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        70% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        100% {
            margin-left: -300%;
        }
    }
    
    .img-menu {
        width: 30%;
        margin-bottom: 5%;
        box-shadow: 0 0 6 rgba(0, 0, 0, .5);
    }
    
    .productos {
        background: #FFE1AF;
    }
    
    .contenedor-productos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .img-productos {
        width: 30%;
        margin-bottom: 5%;
        box-shadow: 0 0 6 rgba(0, 0, 0, .5);
    }
    
    .footer {
        background: rgba(63, 98, 143, 0.726);
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }